In [1]:
from datasets import load_dataset

ds = load_dataset("nyu-mll/glue", "stsb", split="test")

In [5]:
import pandas as pd

test_dataset = pd.DataFrame(ds)
test_dataset.head()

,sentence1,sentence2,label,idx
0,A girl is styling her hair.,A girl is brushing her hair.,-1.0,0
1,A group of men play soccer on the beach.,A group of boys are playing soccer on the beach.,-1.0,1
2,One woman is measuring another woman's ankle.,A woman measures another woman's ankle.,-1.0,2
3,A man is cutting up a cucumber.,A man is slicing a cucumber.,-1.0,3
4,A man is playing a harp.,A man is playing a keyboard.,-1.0,4

In [6]:
test_dataset = test_dataset.drop(columns=["label", "idx"])
test_dataset = test_dataset.rename(columns={"sentence1" : "input",
                                            "sentence2" : "reference_sentence"})

test_dataset.head()

,input,reference_sentence
0,A girl is styling her hair.,A girl is brushing her hair.
1,A group of men play soccer on the beach.,A group of boys are playing soccer on the beach.
2,One woman is measuring another woman's ankle.,A woman measures another woman's ankle.
3,A man is cutting up a cucumber.,A man is slicing a cucumber.
4,A man is playing a harp.,A man is playing a keyboard.

In [7]:
test_dataset.to_csv("../resource/result-base.csv", index=False)

In [ ]:
from transformers import GPT2Tokenizer

tokenizer = GPT2Tokenizer.from_pretrained("gpt2")
print(len(tokenizer))

50257

In [4]:
tokenizer.add_special_tokens({"sep_token": "[SEP]"})
print(len(tokenizer))

50258